{% extends "trix_course/course_admin.django.html" %}

{% load i18n %}

{% block title %}{% trans "Add course admin" %}{% endblock %}

{% block course-header-text %}
    <h1>Add course administrator to {{ course }}</h1>
{% endblock %}

{% block course-header-buttons %}
    <a class="btn btn-primary" href="{% url 'trix_course_admin' course.id %}">{% trans "Back" %}</a>
{% endblock %}

{% block course-table-header %}
    <th scope="col">
        <input type="checkbox" ng-model="checkLeader" aria-label="{% trans 'Check all' %}"
        ng-click="footerVisible = !footerVisible"></input></th>
    <th scope="col">{% trans "Email" %}</th>
    <th scope="col"></th>
{% endblock %}

{% block course-table-body %}
    {% for student in object_list %}
        <tr>
            <td>
                <input type="checkbox" name="selected_students" form="multi_admin"
                    aria-labelledby="student{{ student.id }}"
                    ng-checked="checkLeader"
                    ng-click="showFooter()"
                    value="{{ student.id }}"></input>
            </td>
            <td id="student{{ student.id }}">
                {{ student.displayname }}
                {% if student.is_superuser %}
                    <i class="fa fa-check" style="color: green"
                        title="{% trans 'Superuser' %}"></i>
                    <span class="sr-only">{% trans "Superuser" %}</span>
                {% endif %}
            </td>
            <td>
                <form method="post"
                    action="{% url 'trix_add_admin_update' course_id=course.id user_id=student.id %}">
                    {% csrf_token %}
                    {% if student not in course.admins.all %}
                        <input class="btn btn-primary" type="submit" name="admin"
                            value="{% trans 'Make admin' %}" />
                    {% endif %}
                    {% if user.is_superuser %}
                        {% if student not in course.owner.all %}
                            <input class="btn btn-default" type="submit" name="owner"
                                value="{% trans 'Make owner' %}" />
                        {% endif %}
                    {% endif %}
                </form>
            </td>
        </tr>
    {% endfor %}
{% endblock %}

{% block course-footer %}
    <form method="post" action="{% url 'trix_add_admin_update' course_id=course.id %}"
        id="multi_admin">
        {% csrf_token %}
        <input class="btn btn-primary" type="submit" name="admin_list"
            value="{% trans 'Make admins' %}" />
        {% if user.is_superuser %}
            <input class="btn btn-default" type="submit" name="owner_list"
                value="{% trans 'Make owners' %}" />
        {% endif %}
    </form>
{% endblock %}
