{% extends "trix_course/course_dashboard.django.html" %}

{% load i18n %}

{% block title %}{% trans "Add course admin" %}{% endblock %}

{% block course-header-text %}
    <h1>Add course administrator to {{ course }}</h1>
{% endblock %}

{% block course-header-buttons %}
    <a class="btn btn-primary" href="{% url 'trix_course_admin' course.id %}">{% trans "Back" %}</a>
{% endblock %}

{% block course-table-header %}
    <th><input type="checkbox"></input></th>
    <th>{% trans "Email" %}</th>
    <th></th>
{% endblock %}

{% block course-table-body %}
    {% for student in object_list %}
        <tr>
            <td>
                <input type="checkbox"></input>
            </td>
            <td>
                {{ student.displayname }}
                {% if student.is_superuser %}
                    <i class="fa fa-check" style="color: green"
                        title="{% trans 'Superuser' %}"></i>
                    <span class="sr-only">{% trans "Superuser" %}</span>
                {% endif %}
                <br />
            </td>
            <td>
                <form method="post"
                    action="{% url 'trix_add_admin_update' course_id=course.id user_id=student.id %}">{% csrf_token %}
                    {% if student not in course.admins.all %}
                        <input class="btn btn-primary" type="submit" name="admin"
                            value="{% trans 'Make admin' %}" />
                    {% endif %}
                    {% if user.is_superuser %}
                        {% if student not in course.owner.all %}
                            <input class="btn btn-default" type="submit" name="owner"
                                value="{% trans 'Make owner' %}" />
                        {% endif %}
                    {% endif %}
                </form>
            </td>
        </tr>
    {% endfor %}
{% endblock %}
