{% extends "trix_student/base.django.html" %}

{% load i18n %}

{% block header %}{% endblock header %}
{% block not_signed_in_warning %}{% endblock not_signed_in_warning %}

{% block body %}
<div class="trix-course-wrapper">
    <nav class="trix-course-menu" ng-controller="MenuCtrl">
        <span class="trix-course-menu-icon fa fa-wrench"></span>
        <button class="trix-course-menu-toggle" ng-click="menuVisible = !menuVisible">
            {% trans "Menu" %}
        </button>
        <ul class="trix-course-menu-items" ng-class="{'trix-menu-collapse': !menuVisible}">
            <li><a href="{% url 'trix_student_dashboard' %}">
                <span class="fa fa-home"></span>
                {% trans "Frontpage" %}
            </a></li>
            <li><a href="{% url 'trix_course_dashboard' %}">
                <span class="fa fa-arrow-up"></span>
                {% trans "Course overview" %}
            </a></li>
            {% comment %}
            <li><a href="#">
                <span class="fa fa-database"></span>
                {% trans "Assignments" %}
            </a></li>
            {% endcomment %}
        </ul>
    </nav>
    <div class="trix-course-container" ng-controller="CourseCtrl">
        <header>
            <div class="container trix-course-header">
                <div class="trix-course-header-text">
                    {% block course-header-text %}{% endblock %}
                </div>
                <div class="trix-course-header-button-wrapper">
                    <div class="trix-course-header-buttons">
                        {% block course-header-buttons %}{% endblock %}
                    </div>
                    <div class="trix-course-header-search">
                        {% block course-header-search %}
                            <form action="" method="get">
                                <input name="q" type="text" aria-label="{% trans 'Search input' %}"
                                    placeholder="Search..." />
                                <button class="btn btn-primary" type="submit">
                                    <i class="fa fa-search"></i>
                                    <span class="sr-only">{% trans "Search" %}</span>
                                </button>
                            </form>
                        {% endblock %}
                    </div>
                </div>
            </div>
        </header>
        <main>
            <div class="container trix-course-main">
                {% block course-body %}{% endblock course-body %}
            </div>
        </main>
        <footer>
            <div class="trix-course-footer {% if messages %}trix-footer-show{% endif %}"
                    ng-cloak ng-class="{'trix-footer-hide': footerVisible}">
                {% block course-footer %}
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                    <a ng-click="hideFooter()"><i class="fa fa-times-circle"></i></a>
                {% endblock course-footer %}
            </div>
        </footer>
    </div>
</div>
{% endblock body %}
