{% extends "trix_course/course_dashboard.django.html" %}

{% load i18n %}

{% block title %}{{ course }}{% endblock %}

{% block course-header %}
    <h1>{{ course }}</h1>
    <p>{{ course.description }}</p>
{% endblock %}

{% block course-table-header %}
    <th>{% trans "" %}</th>
    <th>{% trans "Administrators" %}</th></td>
{% endblock %}

{% block course-table-body %}
    {% for admin in course.admins.all %}
        <tr>
            <td>
                {% if owner %}
                    <a href="{% url 'trix_remove_admin' pk=course.id user_id=admin.id %}"
                        class="btn btn-danger">
                        <span class="fa fa-bin">{% trans "Remove" %}</span>
                    </a>
                {% endif %}
                {% if admin in owner_list %}
                    <button class="btn" tabindex="-1" disabled>{% trans "Owner" %}</button>
                {% endif %}
            </td>
            <td>{{ admin }}</td>
        </tr>
    {% endfor %}
{% endblock %}
