{% load i18n %}
{% load trix_core_tags %}

<section class="trix-assignment {% if assignment.hidden %}trix-assignment-hidden{% endif %}"
        ng-controller="AssignmentCtrl"
        ng-class="boxClass"
        ng-init="
            assignment_id='{{ assignment.id }}';
            howsolved='{{ howsolved }}';
        ">
    {% if user_is_admin and course.id %}
        <a href="{% url 'trix_courseadmin-assignments-edit' course.id assignment.id %}?{{ urlencoded_success_url }}"
                class="btn btn-trix-admin pull-right trix-no-print">
            <span class="fa fa-edit"></span>
            {% trans "Edit" %}
        </a>
    {% endif %}
    <h2 id="assignment-{{ assignment.id }}">
        <a href="{% url 'trix_assignments_view' assignment.id %}" style="color:black;">
            {{ assignment }}
        </a>
        {% if assignment.hidden %}
            <span class="fa fa-eye-slash" style="font-size: 24px;" title="{% trans 'Hidden assignment' %}"></span>
        {% endif %}
    </h2>

    {% if not disable_tags %}
        <div class="assignment-tags">
            {% for tag in assignment.tags.all %}
                <button class="btn btn-default btn-xs" disabled>
                    {{ tag.tag }}
                </button>
            {% endfor %}
        </div>
    {% endif %}

    <section class="trix-assignmenttext  trix-markdownarticle" ng-non-bindable>
        {% trix_assignment_markdown assignment.text %}
    </section>
    {% if request.user.is_authenticated and not disable_howsolved_box %}
        <div class="trix-assignmenthowsolved trix-no-print" ng-cloak>
            <p>
                {% trans "How did you solve the assignment?" %}
            </p>
            <div class="btn-group" role="radiogroup">
                <button class="btn"
                        ng-click="solvedOnMyOwn()"
                        ng-disabled="saving"
                        ng-class="buttonClass"
                        role="radio"
                        trix-aria-checked="howsolved=='bymyself'">
                    <span class="fa fa-check" ng-show="howsolved=='bymyself'"></span>
                    {% trans "On my own" %}
                </button>
                <button class="btn"
                        ng-click="solvedWithHelp()"
                        ng-class="buttonClass"
                        ng-disabled="saving"
                        role="radio"
                        trix-aria-checked="howsolved=='withhelp'">
                    <span class="fa fa-check" ng-show="howsolved=='withhelp'"></span>
                    {% trans "With help" %}
                </button>
                <button class="btn"
                        ng-click="notSolved()"
                        ng-class="buttonClass"
                        ng-disabled="saving"
                        role="radio"
                        trix-aria-checked="!howsolved">
                    <span class="fa fa-check" ng-show="!howsolved"></span>
                    {% trans "Not solved" %}
                </button>
            </div>
            <span role="status" tabindex="-1" class="trix-assignmenthowsolvedsaving"
                    ng-show="saving">
                <span class="fa fa-spin fa-spinner"></span>
                <span class="text-success">{% trans "Saving..." %}</span>
            </span>
        </div>
    {% endif %}
    {% if assignment.solution %}
        <section class="trix-assignmentsolution" ng-cloak
                ng-controller="SolutionCtrl">
            <button ng-click="isVisible = !isVisible"
                    class="btn btn-link trix-assignmentsolutionexpander"
                    ng-class="{'active': isVisible}">
                {% trans "See solution" %}
                <span class="fa trix-no-print" ng-class="{
                    'fa-angle-right': !isVisible,
                    'fa-angle-down': isVisible
                }"></span>
            </button>
            <section class="trix-markdownarticle" ng-class="{'collapse': !isVisible}">
                {% trix_assignment_markdown assignment.solution %}
            </section>
        </section>
    {% endif %}
</section>
