{% load i18n %}
{% load trix_core_tags %}

<div class="container">
    {% for assignment in assignment_list %}
        <section class="trix-assignment">
            <h2>{{ assignment }}</h2>
            <div class="assignment-tags">
                {% for tag in assignment.tags.all %}
                    <button class="btn btn-default" disabled>
                        {{ tag.tag }}
                    </button>
                {% endfor %}
            </div>
            <section class="trix-assignmenttext  trix-markdownarticle">
                {% trix_assignment_markdown assignment.text %}
            </section>
            {% if assignment.solution %}
                <section class="trix-assignmentsolution">
                    <h3 class="trix-expand-header">
                        {% trans "Solution" %}
                        <span class="fa fa-chevron-right"></span>
                    </h3>
                    <section class="trix-markdownarticle"> {# TODO: Angularjs expand/collapse #}
                        {% trix_assignment_markdown assignment.solution %}
                    </section>
                </section>
            {% endif %}
        </section>
    {% endfor %}
</div>