{% load i18n %}
{% load trix_core_tags %}
<section id="assignment-{{ assignment.id }}" class="trix-assignment{% if assignment.hidden %} trix-assignment-hidden{% endif %} {% if howsolved == '' %}trix-assignment-notsolved{% else %}trix-assignment-solved{{ howsolved }}{% endif %}">
    {% if user_is_admin and course.id %}
        <a href="{% url 'trix_courseadmin-assignments-edit' course.id assignment.id %}?{{ urlencoded_success_url }}"
                class="btn btn-trix-admin pull-right trix-no-print">
            <span class="fa fa-edit"></span>
            {% trans "Edit" %}
        </a>
    {% endif %}
    <h2 id="assignment-{{ assignment.id }}">
        <a href="{% url 'trix_assignments_view' assignment.id %}">
            {{ assignment }}
        </a>
        {% if assignment.hidden %}
            <span class="fa fa-eye-slash" title="{% trans 'Hidden assignment' %}"></span>
        {% endif %}
    </h2>

    {% if not disable_tags %}
        <div class="assignment-tags">
            {% for tag in assignment.tags.all %}
                <button class="btn btn-default btn-xs" disabled>
                    {{ tag.tag }}
                </button>
            {% endfor %}
        </div>
    {% endif %}

    <section class="trix-assignmenttext trix-markdownarticle disable-scripting">
        {% trix_assignment_markdown assignment.text %}
    </section>
    {% if request.user.is_authenticated and not disable_howsolved_box %}
        <form class="trix-assignmenthowsolved trix-no-print" method="post">
            <fieldset role="radiogroup">
                <p>{% trans "How did you solve the assignment?" %}</p>
                <button type="button" class="btn btn-{% if howsolved == '' %}default{% elif howsolved == 'bymyself' %}success{% else %}warning{% endif %}" role="radio"
                    aria-checked="{% if howsolved == 'bymyself' %}true{% else %}false{% endif %}"
                    hx-post="{% url 'trix_student_howsolved' assignment.id %}"
                    hx-ext="json-enc"
                    name="howsolved" value="bymyself"
                    hx-trigger="click"
                    hx-target="#assignment-{{ assignment.id }}"
                    hx-swap="outerHTML">
                    {% if howsolved == 'bymyself' %}<span class="fa fa-check">{% endif %}
                    {% trans "On my own" %}
                </button>
                <button type="button" class="btn btn-{% if howsolved == '' %}default{% elif howsolved == 'bymyself' %}success{% else %}warning{% endif %}" role="radio"
                    aria-checked="{% if howsolved == 'withhelp' %}true{% else %}false{% endif %}"
                    hx-post="{% url 'trix_student_howsolved' assignment.id %}"
                    hx-ext="json-enc"
                    name="howsolved" value="withhelp"
                    hx-trigger="click"
                    hx-target="#assignment-{{ assignment.id }}"
                    hx-swap="outerHTML">
                    {% if howsolved == 'withhelp' %}<span class="fa fa-check">{% endif %}
                    {% trans "With help" %}
                </button>
                <button type="button" class="btn btn-{% if howsolved == '' %}default{% elif howsolved == 'bymyself' %}success{% else %}warning{% endif %}" role="radio"
                    aria-checked="{% if howsolved == '' %}true{% else %}false{% endif %}"
                    hx-delete="{% url 'trix_student_howsolved' assignment.id %}"
                    hx-params="none"
                    hx-trigger="click"
                    hx-target="#assignment-{{ assignment.id }}"
                    hx-swap="outerHTML">
                    {% if howsolved == '' %}<span class="fa fa-check">{% endif %}
                    {% trans "Not solved" %}
                </button>
            </fieldset>
        </form>
    {% endif %}
    {% if assignment.solution %}
        <section class="trix-assignmentsolution">
            <button class="btn btn-link trix-assignmentsolutionexpander"
                _="on click toggle .trix-solution-invisible on the next .trix-markdownarticle
                      then toggle between .fa-angle-right and .fa-angle-down on .fa in me">
                {% trans "See solution" %}
                <span class="fa trix-no-print fa-angle-right"></span>
            </button>
            <section class="trix-markdownarticle trix-solution-invisible">
                {% trix_assignment_markdown assignment.solution %}
            </section>
        </section>
    {% endif %}
</section>
