{% load i18n %}
{% load static %}

<div class="trix-footer">
    <div>
        <span class="fa fa-bug"></span>
        <a href="https://github.com/devilry/trix2/issues/new" target="_blank">
            {% trans "Report bug" %}
        </a>
    </div>
    <div>
        {% if wcag %}
            <span class="fa fa-eye-slash"></span>
            <a href="{% url 'wcag' %}">{% trans "Deactivate" %}
        {% else %}
            <span class="fa fa-eye"></span>
            <a href="{% url 'wcag' %}">{% trans "Activate" %}
        {% endif %}
        {% trans "accessibility colours" %}</a>
    </div>
</div>
