{% load i18n %}
{% load static %}
{% load url from future %}

<nav id="trix_header" class="navbar navbar-default navbar-static-top navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle"
                    ng-init="trixNavigationCollapse = true"
                    ng-click="trixNavigationCollapse = !trixNavigationCollapse"
                    data-toggle="collapse" data-target="#trix_header_collapse">
                <span class="sr-only">{% trans "Toggle navigation" %}</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'trix_student_dashboard' %}">
                Trix
            </a>

        </div>
        <div class="collapse navbar-collapse navbar-responsive-collapse" collapse="trixNavigationCollapse">
            <ul class="nav navbar-nav navbar-right">
                {% if request.user.is_authenticated and request.user.is_staff %}
                    <li>
                        <a href="/a/">
                            <span class="fa fa-cog"></span>
                            {% trans "Administer" %}
                        </a>
                    </li>
                {% endif %}

                <li>
                    {% if request.user.is_authenticated %}
                        <a href="{% url 'trix-logout' %}">
                            <span class="fa fa-sign-out"></span>
                            {% trans "Sign out" %}
                        </a>
                    {% else %}
                        <a href="{% url 'trix-login' %}">
                            <span class="fa fa-sign-in"></span>
                            {% trans "Sign in" %}
                        </a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</nav>