{% load i18n %}
{% load static %}

<nav id="trix_header" class="navbar navbar-default navbar-static-top navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle"
                    ng-init="trixNavigationCollapse = true"
                    ng-click="trixNavigationCollapse = !trixNavigationCollapse"
                    data-toggle="collapse" data-target="#trix_header_collapse">
                <span class="sr-only">{% trans "Toggle navigation" %}</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'trix_student_dashboard' %}">
                Trix
            </a>
        </div>
        <div class="collapse navbar-collapse navbar-responsive-collapse"
                ng-class="{'collapse': trixNavigationCollapse}">
            <ul class="nav navbar-nav navbar-right">
                {% if request.user.is_authenticated %}
                    {% if request.user.is_admin %}
                    <li>
                        <a href="{% url 'admin:index' %}">
                            <span class="fas fa-cogs"></span>
                            {% trans "Superuser" %}
                        </a>
                    </li>
                    {% endif %}
                    {% if request.user.is_admin_on_anything %}
                    <li>
                        <a href="{% url 'trix_course_dashboard' %}">
                            <span class="fas fa-cog"></span>
                            {% trans "Administer" %}
                        </a>
                    </li>
                    {% endif %}
                    <li>
                        <a href='{% url "trix_profile_page" %}'>
                            <span class="fa fa-user"></span>
                            {% trans "Profile" %}
                        </a>
                    </li>
                {% endif %}

                {% if not remove_login %}
                <li>
                    {% if request.user.is_authenticated %}
                        {# Either redirect to frontpage or the page the user was at. #}
                        {% if disable_next %}
                            <a href="{% url 'trix_logout' %}?next{% url 'trix_student_dashboard' %}">
                        {% else %}
                            <a href="{% url 'trix_logout' %}?next={{ request.get_full_path | urlencode }}">
                        {% endif %}
                            <span class="fas fa-sign-out-alt"></span>
                            {% trans "Sign out" %}
                        </a>
                    {% else %}
                        <a href="{% url 'trix_login' %}?next={{ request.get_full_path | urlencode }}">
                            <span class="fas fa-sign-in-alt"></span>
                            {% trans "Sign in" %}
                        </a>
                    {% endif %}
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
