{% comment %}
    Usage:
        {% include "trafo_theme/include/pager.django.html" %}

    Required context variables:

        - is_paginated
        - page_obj

    These are added automatically by ListView if you specify paginate_by.

    Option context variables:

        - extra_querystring
            Appended to the querystring.
{% endcomment %}
{% load i18n %}

{% if is_paginated %}
    <ul class="pager">
        <li class="previous {% if not page_obj.has_previous %}disabled{% endif %}">
            <a href="?page={% if page_obj.has_previous %}{{ page_obj.previous_page_number }}{% else %}1{% endif %}&amp;{{ extra_querystring }}">
                <i class="fa fa-chevron-left"></i>
                <span class="sr-only">{% trans "Previous" %}</span>
            </a>
        </li>
        <li class="next {% if not page_obj.has_next %}disabled{% endif %}">
            <a href="?page={% if page_obj.has_next %}{{ page_obj.next_page_number }}{% else %}last{% endif %}&amp;{{ extra_querystring }}">
                <i class="fa fa-chevron-right"></i>
                <span class="sr-only">{% trans "Next" %}</span>
            </a>
        </li>
    </ul>
{% endif %}