{% extends "django_cradmin/base.django.html" %}
{% load i18n %}

{% block content %}
    <div class="page-header">
        <div class="container-fluid">
            <span class="fa fa-home"></span>
            <h1>
                {% trans "Trix" %}:
                <strong>{{ request.cradmin_role }}</strong>
            </h1>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2">
                Bootstrap
            </div>
            <div class="col-sm-8">
                Columns
            </div>
            <div class="col-sm-2">
                Work!
            </div>
        </div>
    </div>
{% endblock content %}