{% extends "cradmin_legacy/roleselect.django.html" %}
{% load i18n %}
{% load cradmin_legacy_tags %}


{% block title %}{% trans "Select course" %}{% endblock title %}
{% block body %}
    <div class="container trix-roleselect-container" style="margin-top: 20px;">
        <a href="{% url 'trix_student_dashboard' %}">
            <span class="fa fa-arrow-left"></span>
            {% trans "Back to the frontpage" %}
        </a>
    </div>

    <div class="trix-roleselect">
        {{ block.super }}
    </div>

    <div class="container trix-roleselect-container" style="margin-top: 40px;">
        <h2>{% trans "Documentation" %}</h2>
        <a href="{{ TRIX_ADMIN_DOCUMENTATION_URL }}">{{ TRIX_ADMIN_DOCUMENTATION_LABEL }}</a>

        <h2>{% trans "Edit courses and users?" %}</h2>
        <p>{% trans "Need to create/edit courses, change active semester, or edit users?" %}
            {% if user.is_admin %}
                <a href="{% url 'admin:index' %}">{% trans "Go to the superuser panel" %}</a>.
            {% else %}
                {% trans "You need to ask a superuser to grant you superuser access." %}
            {% endif %}
        </p>
    </div>
{% endblock body %}
