{% extends "django_cradmin/base.django.html" %}
{% load i18n %}l
{% load trix_admin_tags %}

{% block content %}
    <div class="page-header">
        <div class="container-fluid">
            <span class="fa fa-bar-chart-o"></span>
            <h1>
                {% trans "Trix" %}:
                <strong>{% trans "Statistics" %}</strong>
            </h1>
        </div>
    </div>
    
    <div class="page-sub-header">    
        <div class="container-fluid">
            <h1>{% trans "Aggregated statistics on how the assignments where solved" %}</h1>
            <p>
                {% for tag in selected_tags_list %}
                    <a class="btn btn-success"
                            {% if tag == course_tag %}
                                disabled
                            {% else %}
                                href="?tags={{ selected_tags_string }},-{{ tag }}"
                            {% endif %}>
                        {% if tag != course_tag %}
                            <span class="fa fa-times"></span>
                        {% endif %}
                        {{ tag }}
                    </a>
                {% endfor %}
                {% for tag in selectable_tags_list %}
                    <a class="btn btn-link"
                            href="?tags={{ selected_tags_string }},{{ tag }}">
                        <span class="fa fa-plus"></span>
                        {{ tag }}
                    </a>
                {% endfor %}

            </p>

            <p>{% trans "The stats below show how many percentage of the total number of users that have completed the assignment by their own, with help or not completed it." %}</p>
            <div class="stat-info">
                <ul class="list-unstyled">
                    <li>{% trans "Number of users:" %} {{ user_count }}</li>
                    <li>{% trans "Number of assignments:" %} {{ assignment_count }}</li>
                    {% if assignment_list.count  %}
                        <li><a href="{% url 'trix_stats_ascsv' %}?tags={{ selected_tags_string }}">
                            <span class="fa fa-download"></span>
                            {% trans "Download csv file" %}
                        </a></li>
                    {% endif %}
                    
                </ul>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        {% for assignment in assignment_list %}
            <div class="assignment-info">
                <h2>{{ assignment }}</h2>
            </div>


            <div class="progress-info">

                {% compute_and_set_stats_for_assignment assignment 'bymyself' user_count as bymyself_percent %}
                <p class="progress-element">
                    {% trans "Completed by their own" %} {{ bymyself_percent|floatformat:2 }} %
                    {% include "trix_admin/include/progress_bar.django.html" with percent=bymyself_percent style='success' %}
                </p>

                {% compute_and_set_stats_for_assignment assignment 'withhelp' user_count as withhelp_percent %}
                <p class="progress-element">
                    {% trans "Completed with help" %} {{ withhelp_percent|floatformat:2 }} %
                    {% include "trix_admin/include/progress_bar.django.html" with percent=withhelp_percent style='warning'%}
                </p>

                {% compute_and_set_stats_for_assignment assignment 'notsolved' user_count as notsolved_percent %}
                <p class="progress-element">
                    {% trans "Not completed" %} {{ notsolved_percent|floatformat:2 }} %
                    {% include "trix_admin/include/progress_bar.django.html" with percent=notsolved_percent style='info'%}
                </p>
            </div>
        {% empty %}
            <h2 class="empty-assignment-list-info">{% trans "There was no assignments matching the choosen tag" %}</h2>
        {% endfor %}

    {% include "trix_student/include/pager.django.html" %}
    </div>

    {% comment %}
        
    <div class="container-fluid">
        <div class="alert alert-success">
            <h4>{% trans "Solved by their own" %} {{ bymyself_percent }}%</h4>
            <div class="progress">
              <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{ bymyself_percent }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ bymyself_percent }}%">
              </div>
            </div>
        </div>
        <div class="alert alert-warning">
            <h4>{% trans "Solved with help" %} {{ withhelp_percent }}%</h4>
            <div class="progress">
              <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="{{ withhelp_percent }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ withhelp_percent }}%">
              </div>
            </div>
        </div>
        <div class="alert alert-info">
            <h4>{% trans "Not solved" %} {{ notsolved_percent }}%</h4>
            <div class="progress">
              <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{ notsolved_percent }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ notsolved_percent }}%">
              </div>
            </div>
        </div>
    </div>
    {% endcomment %}



{% endblock content %}
