{% extends "trix_student/base.django.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{% trans "Login" %}{% endblock title %}

{% block not_signed_in_warning %}{% endblock %}
{% comment %}
Remove the login icon since it will include the current url, creating a messy url that redirects
to the login page over and over.
{% endcomment %}
{% block header %}{% include "trix_student/include/header.django.html" with remove_login='True' %}{% endblock %}

{% block content %}
    <div class="page-header">
        <div class="container">
            <h1>{% trans "Log in" %}</h1>
        </div>
    </div>

    <div class="container">
        {% crispy form form.helper %}
    </div>
{% endblock content %}
