{% extends "trix_student/base.django.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{% trans "Log out" %}{% endblock title %}
{% block content %}
    <div class="page-header">
        <div class="container">
            <h1>{{ title }}</h1>
        </div>
    </div>
    <div class="container">
        <p>{% trans "You are now logged out" %}.
            <a href="{% url 'trix_student_dashboard' %}">{% trans "Go to the frontpage" %}.</a></p>
    </div>
{% endblock content %}
