{% spaceless %}
{% load i18n %}
{% load static %}
{% endspaceless %}<!DOCTYPE html>
<html lang="en" ng-app="trixStudent">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{% trans "Trix" %} - {% block title %}{% endblock title %}</title>

        {% block css %}
            <link href='{% static "trix_student/dist/css/styles.css" %}' rel="stylesheet">
            {% if wcag %}
                <link href='{% static "trix_student/dist/css/wcag.css" %}' rel="stylesheet">
            {% endif %}
        {% endblock %}

        <script src="{% static 'trix_student/dist/vendor/js/jquery.slim.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'trix_student/dist/vendor/js/angular.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'trix_student/dist/vendor/js/angular-cookies.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'trix_student/dist/vendor/js/angular-route.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'trix_student/dist/vendor/js/ui-bootstrap.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'trix_student/dist/vendor/js/alert.js' %}" type="text/javascript"></script>
        <script src="{% static 'trix_student/dist/vendor/js/url.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'trix_student/dist/js/trix_student.min.js' %}" type="text/javascript"></script>
    </head>
    <body>
    {% block body %}
        <header>
        {% block header %}
            {% include "trix_student/include/header.django.html" %}
        {% endblock header %}
        {% block not_signed_in_warning %}
            {% if not request.user.is_authenticated %}
                <div class="alert alert-warning alert-edgetoedge alert-nomargin">
                    <div class="container">
                        <p>
                            <strong>{% trans "You are not authenticated." %}</strong>
                            {% trans "If you are not authenticated, you will not be able to keep track of your progress." %}
                        </p>
                        <a href="{% url 'trix_login' %}?next={{ request.get_full_path | urlencode }}" class="btn btn-warning">
                            <span class="fa fa-sign-in"></span>
                            {% trans "Sign in" %}
                        </a>
                    </div>
                </div>
            {% endif %}
        {% endblock not_signed_in_warning %}
        </header>
        <main>{% block content %}{% endblock %}</main>
        <footer>
            {% block footer %}
                {% include "trix_student/include/footer.django.html" %}
            {% endblock footer %}
        </footer>
    {% endblock body %}
    </body>
</html>
