{% extends "trix_student/base.django.html" %}
{% load i18n %}
{% block title %}{% trans "Assignments" %}{% endblock title %}

{% block body %}
    <div class="container">
        <div class="page-header">
            <h1>{{ object.course_tag }} <small>{{ object.description }}</small></h1>
        </div>
    </div>

    <div id="assignments-taggingbox" class="container">
        <div class="row">
            <div class="col-sm-3">
                <form ng-controller="AddTagCtrl">
                    <h2>{% trans "Add tags" %}</h2>
                    <select ng-model="tagToAdd" ng-change="addTag()">
                        <option value="" selected>-- {% trans "Select a tag" %} --</option>
                        {% for tag in selectable_tags %}
                            <option value="{{ tag }}">{{ tag }}</option>
                        {% endfor %}
                    </select>
                </form>
            </div>
            {% if selected_tags %}
                <div class="col-sm-9 text-right" ng-controller="RemoveTagCtrl">
                    <h2>{% trans "Selected tags (click to remove)" %}</h2>
                    {# {% for tag in non_removeable_tags %} #}
                        {# <button type="button" class="btn btn-primary btn-sm disabled">{{ tag }}</button> #}
                    {# {% endfor %} #}

                    {% for tag in selected_tags %}
                        <button type="button" class="btn btn-primary btn-sm"
                                ng-click="removeTag('{{ tag }}')">
                            {{ tag }}
                            <span class="fa fa-times"></span>
                        </button>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>

    {% include "trix_student/include/assignment_list.django.html" %}

{% endblock body %}