{% extends "trix_student/base.django.html" %}
{% load i18n %}
{% load trix_core_tags %}

{% block title %}{% trans "Assignments" %}{% endblock title %}

{% block body %}
    <div id="assignments-heading" class="page-header">
        <div class="container">
            {% if user_is_admin %}
                <a href="{% url 'trix_courseadmin-assignments-INDEX' course.id %}"
                        class="btn btn-trix-admin pull-right">
                    <span class="fa fa-edit"></span>
                    {% trans "Edit" %}
                </a>
            {% endif %}
            <h1>
                {{ course.course_tag }}
                {{ course.active_period }}
            </h1>
            <p>{{ course.description }}</p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div id="assignments-taggingbox" class="col-sm-3 col-sm-push-9 col-md-3 col-md-push-9">
                {% if assignments_solved_percentage %}
                    <div class="progress">
                        <div class="progress-bar
                                {% if assignments_solved_percentage < 20 %}
                                    progress-bar-danger
                                {% elif assignments_solved_percentage < 50 %}
                                    progress-bar-warning
                                {% elif assignments_solved_percentage > 80 %}
                                    progress-bar-success
                                {% endif %}
                                "
                                role="progressbar"
                                aria-valuenow="{{ assignments_solved_percentage }}" aria-valuemin="0" aria-valuemax="100"
                                style="width: {{ assignments_solved_percentage }}%">
                            {{ assignments_solved_percentage }}%
                        </div>
                    </div>
                    <p class="text-muted"><small>
                        {% blocktrans with percent="40" %}You have completed {{ percent }}% of assignments matching the currently selected tags.{% endblocktrans %}
                    </small></p>
                {% endif %}
                <div ng-controller="RemoveTagCtrl" class="assignments-selectedtags-listing">
                    <h3>{% trans "Selected tags" %}:</h3>
                    {% for tag in non_removeable_tags %}
                        <button type="button" class="btn btn-primary btn-sm disabled">{{ tag }}</button>
                    {% endfor %}
                    {% if selected_tags %}
                        {% for tag in selected_tags %}
                            <button type="button" class="btn btn-primary btn-sm"
                                    ng-click="removeTag('{{ tag }}')">
                                {{ tag }}
                                <span class="fa fa-times"></span>
                            </button>
                        {% endfor %}
                    {% endif %}
                </div>
                {% if selectable_tags %}
                    <form ng-controller="AddTagCtrl">
                        <h3>{% trans "Filter" %}:</h3>
                        <select ng-model="tagToAdd" ng-change="addTag()">
                            <option value="" selected>-- {% trans "Select a tag" %} --</option>
                            {% for tag in selectable_tags %}
                                <option value="{{ tag }}">{{ tag }}</option>
                            {% endfor %}
                        </select>
                    </form>
                {% endif %}
            </div>
            <div class="col-sm-9 col-sm-pull-3 col-md-9 col-md-pull-3">
                {% for assignment in assignment_list %}
                    <section class="trix-assignment">
                        {% if user_is_admin %}
                            <a href="{% url 'trix_courseadmin-assignments-edit' course.id assignment.id %}?{{ urlencoded_success_url }}"
                                    class="btn btn-trix-admin pull-right">
                                <span class="fa fa-edit"></span>
                                {% trans "Edit" %}
                            </a>
                        {% endif %}
                        <h2>{{ assignment }}</h2>
                        <div class="assignment-tags">
                            {% for tag in assignment.tags.all %}
                                <button class="btn btn-default btn-xs" disabled>
                                    {{ tag.tag }}
                                </button>
                            {% endfor %}
                        </div>
                        <section class="trix-assignmenttext  trix-markdownarticle">
                            {% trix_assignment_markdown assignment.text %}
                        </section>
                        <div class="trix-assignmenthowsolved btn-group" ng-cloak
                                ng-controller="HowSolvedCtrl" role="radiogroup">
                            <a class="btn btn-default" ng-click="solvedOnMyOwn()"
                                    role="radio" trix-aria-checked="howsolved=='bymyself'">
                                <span class="fa fa-check" ng-show="howsolved=='bymyself'"></span>
                                {% trans "Solved on my own" %}
                            </a>
                            <a class="btn btn-default" ng-click="solvedWithHelp()"
                                    role="radio" trix-aria-checked="howsolved=='withhelp'">
                                <span class="fa fa-check" ng-show="howsolved=='withhelp'"></span>
                                {% trans "Solved with help" %}
                            </a>
                            <a class="btn btn-default" ng-click="notSolved()"
                                    role="radio" trix-aria-checked="!howsolved">
                                <span class="fa fa-check" ng-show="!howsolved"></span>
                                {% trans "Not solved" %}
                            </a>
                        </div>
                        {% if assignment.solution %}
                            <section class="trix-assignmentsolution" ng-cloak
                                    ng-controller="SolutionCtrl">
                                <a ng-click="isVisible = !isVisible"
                                        ng-class="{'active': isVisible}">
                                    {% trans "See solution" %}
                                    <span class="fa" ng-class="{
                                        'fa-angle-right': !isVisible,
                                        'fa-angle-down': isVisible
                                    }"></span>
                                </a>
                                <section class="trix-markdownarticle" collapse="!isVisible">
                                    {% trix_assignment_markdown assignment.solution %}
                                </section>
                            </section>
                        {% endif %}
                    </section>
                {% endfor %}
                {% include "trix_student/include/pager.django.html" %}
            </div>
        </div>
    </div>

{% endblock body %}