{% extends "trix_student/base.django.html" %}
{% load i18n %}
{% block title %}{% trans "Trix - student" %}{% endblock title %}

{% block body %}
    <div class="container">
        <div class="page-header">
            <h1>{% trans "Course list" %}</h1>
        </div>
    </div>

    {% if request.user.is_staff %}
        <div class="alert alert-edgetoedge alert-staff">
            <div class="container">
                <h1>{% trans "Administrate Trix" %}</h1>
                <div class="btn-group btn-group-lg">
                    <a href="/a/" class="btn btn-default" role="button">{% trans "Administer" %}</a>
                </div>
            </div>
        </div>
    {% endif %}


        <div class="alert alert-info alert-edgetoedge">
            <div class="container">
            <h1>{% trans "Welcome to Trix" %}</h1> 
            <p>{% trans "Trix is a teaching platform to help you work more systematic towards your goal, resulting in a better learning outcome." %}</p>
            </div>
        </div>

    <div class="container">
        <div class="course-list">
            {% for course in object_list %}
                <div class="course-list-element">
                    <h1><a href="{% url 'trix_student_course' course.id%}">{{ course }}</a></h1>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock body %}