{% extends "trix_student/base.django.html" %}
{% load i18n %}
{% block title %}{% trans "Trix - permalink" %}{% endblock title %}

{% block content %}
    <div class="page-header">
        <div class="container">
        <h1>{% trans "Permalink list" %}</h1>
        <p>{% trans "All the permalinks created are listed below" %}</p>
        </div>
    </div>


    <div class="container">
        <div class="course-list">
            {% for permalink in object_list %}
                <div class="course-list-element">
                    <h2><a href="{% url 'trix_student_permalink' permalink.id %}">{{ permalink }}</a></h2>
                    <p class="text-muted">{{ permalink.description }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
