{% extends 'trix_student/base.django.html' %}
{% load i18n %}

{% block not_signed_in_warning %}{% endblock %}

{% block title %}{% trans "User" %}{% endblock %}

{# Since you have to be logged in to view the user pages, send them to the frontpage when logging out. #}
{% block header %}
    {% include "trix_student/include/header.django.html" with disable_next='True' %}
{% endblock %}

{% block content %}
<div class="page-header">
    <div class="container">
        <div class="trix-user-text">
            <h1>{% trans "Account overview" %}</h1>
            <ul class="list-unstyled">
                <li>
                    <h2>{% trans "Email" %}</h2>
                    <p>{{ user }}</p>
                </li>
                <li>
                    <h2>{% trans "Last login" %}</h2>
                    <p>{{ user.last_login }}</p>
                </li>
                <li>
                    <h2>{% trans "Data collection" %}</h2>
                    {% if user.has_consented %}
                        <p>{% trans "Consented: " %}{{ user.consent_datetime }}</p>
                    {% else %}
                        <p>{% trans "Has not consented" %}</p>
                    {% endif %}
                    <a href="{% url 'trix_consent_form' %}">
                        {% trans "Consent form" %}
                    </a>
                </li>
                <li>
                    <h2>{% trans "Role" %}</h2>
                    <p>{{ user_role }}</p>
                </li>
            </ul>
        </div>
        <div class="trix-user-buttons">
            <a href="{% url 'trix_delete_user' pk=user.id %}" class="btn btn-danger">
                <span class="fa fa-bin"></span>
                {% trans "DELETE ME" %}
            </a>
        </div>
    </div>
</div>
{% endblock content %}
