.alert-edgetoedge {
    border-radius: 0;
    border-left-width: 0;
    border-right-width: 0;
}

.alert-nomargin {
    margin: 0;
}

.alert-staff {
  .alert-variant(@trixstaff-bg; @trixstaff-border; @trixstaff-color);
}
