#assignments-heading, .trix-assignment {
    @media (min-width: @screen-sm-min) {
        .btn-trix-admin {
            opacity: 0;
            transition-duration: 0.4s;
            transition-property: opacity;
        }
        &:hover {
            .btn-trix-admin {
                opacity: 1;
            }
        }
    }
}

.trix-assignment {
    margin-bottom: 80px;
    padding-top: 80px;
    border-top: 1px solid #eee;

    @media (min-width: @screen-sm-min) {
        &:first-child {
            border-top: none;
            padding-top: 0;
        }
    }

    &>h2 {
        margin-top: 0;
        padding-top: 0;
    }

    .trix-assignmenttext {
        margin-top: 40px;
    }

    .trix-assignmentsolution {
        margin-top: 40px;
        .trix-markdownarticle {
            background-color: #fff;
            padding: 20px;
            margin-top: 5px;
            border: 1px solid #eee;
        }
    }
}


#assignments-taggingbox {
    *:first-child h3 {
        margin-top: 0;
    }

    h3 {
        margin-top: 30px;
        font-size: 18px;
        padding-bottom: 6px;
        border-bottom: 1px solid #eee;
    }
    select {
        display: block;
        width: 100%;
    }
}

.trix-markdownarticle {
    font-size: @trix-article-font-size;
    line-height: (@trix-article-font-size * 1.8);

    p {
        padding-bottom: @trix-article-font-size * 1.8;
        margin: 0;
    }

    pre, .codehilite {
        margin-bottom: @trix-article-font-size * 1.8;
    }

    p, pre, blockquote {
        &:last-child {
            margin-bottom: 0;
        }
    }

    h1 {
        font-size: ceil(@font-size-base * 1.8);
    }
    h2 {
        font-size: ceil(@font-size-base * 1.5);
    }
    h3 {
        font-size: ceil(@font-size-base * 1.2);
        font-weight: bold;
    }
}