/********************************
* Styles for the /course/ pages.
********************************/

.trix-course-wrapper {
    display: flex;
    height: 100%;

    @media (max-width: @screen-sm-min) {
        flex-wrap: wrap;
        flex-direction: column;
    }
}

.trix-course-container {
    display: flex;
    flex-direction: column;
    width: 100%;

    > main {
        flex-grow: 1;
    }
}

.trix-course-menu {
    flex-direction: column;
    padding-top: 25px;
    background-color: #333333;
    width: 250px;
    flex-grow: 1;

    @media (max-width: @screen-sm-min) {
        width: 100%;
        flex-grow: 0;
        height: auto;
        padding: 0px;
    }
}

.trix-course-menu-icon {
    display: block;
    padding-bottom: 30px;
    text-align: center;
    font-size: 70px;
    color: #111;
    border-bottom: 1px solid #444;

    @media (max-width: @screen-sm-min) {
        display: none;
    }
}

.trix-course-menu-toggle {
    display: none;

    @media (max-width: @screen-sm-min) {
        display: block;
        width: 100%;
        background-color: #333;
        text-transform: uppercase;
        text-align: center;
        color: #aaa;
        font-weight: bold;
        line-height: 50px;
        border: none;
        border-bottom: 1px solid #444;

        &:hover {
            background-color: #262626;
            color: #eee;
            text-decoration: none;
            outline: none;
        }

        &:focus {
            outline: thin dotted;
            color: #eee;
            text-decoration: none;
        }
    }
}

.trix-course-menu-items {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    font-size: 14px;
    padding: 0;

    > li {
        border-bottom: 1px solid #444;
        display: flex;
    }

    a {
        color: #aaa;
        padding: 15px 5px 15px 20px;
        width: 100%;

        &:hover {
            text-decoration: none;
            color: #eee;
        }
    }
    a .fa {
        width: 30px;
        font-size: 20px;
    }

    @media (max-width: @screen-sm-min) {
        margin-bottom: 0;
        display: flex;

        a {
            width: 100%;
        }
    }
}

.trix-menu-collapse {
    display: none;

    @media (min-width: @screen-sm-min) {
        display: inherit;
    }
}

.trix-course-header {
    background-color: #377CA8;
    width: 100%;
    color: white;
    padding: 10px 0 20px 40px;
    height: 170px;
}

.trix-course-header-text {
    height: 50%;

    > h1 {
        font-size: 24px;
        font-weight: bold;
    }
}

.trix-course-header-buttons {
    height: 35%;
    margin: 10px 0;

    > button {
        border: 1px solid #224d68;
        color: white;
        background-color: #377CA8;

        &:hover {
            background-color: #224d68;
            border-color: #224d68;
            color: white;
        }
    }
}

.trix-course-main {
    width: 100%;
    padding: 0;
    display: flex;
}

.trix-course-table {
    width: 100%;
    margin: 0;
}

.trix-course-table-head {
    background-color: #fafafa;
    font-size: 16px;
    line-height: 50px;
    border-bottom: 1px solid #ccc;

    > tr th {
        color: #666;
        padding-left: 50px;
    }
}

.trix-course-table-body {
    > tr {
        line-height: 60px;
        border-bottom: 1px dashed #ccc;

        &:hover {
            background-color: #ddd;
        }
    }

    > tr td {
        padding-left: 50px;
        color: #666;

        &:nth-child(2) {
            font-weight: bold;
        }
    }

}

.trix-course-remove-body {
    padding-left: 40px;
    padding-top: 30px;

    > form {
        margin-top: 20px;
    }
}
