#trix_footer {
    background: @header-bgcolor;
    color: #fff;
    min-height: 200px;
    // margin-top: 40px;
    padding: 40px 0;
    font-size: 14px;
    font-weight: 300;
    text-align: center;

    position: absolute; 
    bottom: 0;
    height: @footer-height;
    width: 100%;

}