/**
* Statistic page in admin pages
**/

// NOTE different from .page-header which is used on the front page
.trix-page-header {
    background: #377ca8;
    margin-top: 0;
    color: #fff;
    overflow: auto;
    padding-bottom: 20px;

    .fa {
        float:left;
        margin: 10px;
        font-size: 24px;

    }

    h1 {
        float:left;
        margin-top: 6px !important;
    }
}

.trix-page-sub-header {
    border-bottom: 1px dashed #ccc;
}

.trix-container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 40px;
    padding-right: 15px;
}
