/**
* Statistic page in admin pages
**/

// NOTE different from .page-header which is used on the front page
.trix-page-header {
    background: #377ca8;
    margin-top: 0;
    color: #fff;
    overflow: auto;

    .fa {
        float:left;
        margin: 10px;
    }

    h1 {
        float:left;
    }
}

.trix-page-sub-header {

}

.trix-container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 50px;
    padding-right: 15px;
}
